<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>weather-app</title>
    <script src="/script/c_app.js"></script>
</head>
<body>
    <div class="main-content">
    {{>header}}

    <img class="portrait" src="/img/jay.jpg" alt="Image Loading..">

    <p>
        Writers write descriptive paragraphs because their purpose is to describe something.
         Their point is that something is beautiful or disgusting or strangely intriguing. 
         Writers write persuasive and argument paragraphs because their purpose is to persuade or
          convince someone. Their point is that their reader should see things a particular way and
           possibly take action on that new way of seeing things. Writers write paragraphs of comparison
            because the comparison will make their point clear to their readers. 
    </p>

    </div>
    {{>footer}}
</body>
</html>